<div class="abouttitle">
	<h2>About This Site</h2>
	<p>Nerds at War is written by Abhishek Dutt</p>
	<p>The site is built using Ruby and Rails and uses the bootstrap frontend framework for presentation.</p>
</div>