.logoarea {
  height: 220px;
  letter-spacing: 2px;
  color: #55606e !important;
  text-align: center;
  font-size: .91em;
  font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
	.fa .fa-shield a:hover, a:visited, a:link, a:active {
	  text-decoration: none;
    background-color: inherit;
    border-color: inherit;  
    border-style: none none none none;
    border-width: 0 0 0 0;
	  .fa-shield {
	  	margin-top: 50px;
		  padding-top: 0px;
		  font-size: 80px;
  		color: #55606e !important;
		  text-shadow: 0px 1px 0px #fff;
		}
	}
}
  
.sitetitle {
  letter-spacing: 2px;
  height: 15px;
  color: #55606e !important;
  text-align: center;
  font-size: .91em;
  font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
}

.sitelogo {

}

.siteauthor {
  margin-bottom: 20px;
}

.disclaimer p {
  color: #b9c1c8;
  letter-spacing: 0;
  line-height: 1em;
  font-size: 0.95em;
}