.topbar .navbar {
  color: hsl(0,0%,60%);
  padding-left: 15px;
  padding-right: 15px;
  font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 3px;
  color: hsl(0,0%,60%);    
  border-bottom: 1px solid rgba(0,0,0,.1);
  vertical-align: middle;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: #eceef1 !important;
}