<%# add navigation links to this file %>
<li><%= link_to 'ABOUT', page_path('about') %></li>
<li><%= link_to 'CONTACT', page_path('contact') %></li>
<li><%= link_to 'FOLLOW', "https://twitter.com/nerdsatwar" %></li>